
/****** contenu ****/

/************ Amont ************/

	.contu .Amont{
		position: absolute;
		z-index: 20;
		top: 180%;
		width: 50%;
		transform: 2s;
	}
	.contu .logo{
		position: absolute;
		top: 100%;
left: 50%;
width: 30%;
		z-index: 29;
	}
	.contu .Amont img{
		position: absolute;
		width: 100%;
		z-index: 21;
	}
.contu .lisr{
	position: absolute;
	top: 150%;
left: 45%;
background-color: #942625;
z-index: 28;
width: 40%;
padding: 30px 40px;

}
.contu .lisr h1{
	position: relative;
	top: 0;
	text-transform:uppercase;
	font-weight: bold;
	color: #fff;
	z-index: 36;
}
.contu .lisr ul{
	color: #fff;
	font-size: 2vw;
	
	}
	  @media (max-width:1050px) {
 	.contu .Amont{
		position: absolute;
		z-index: 25;
		top: 650px;
		width: 100%;
		transform: 2s;
	}
	.contu .logo{
		position: absolute;
		top: 1250px;
left: 50%;
width: 20%;
		z-index: 29;
	}
	.contu .Amont img{
		position: absolute;
		width: 100%;
		z-index: 21;
		top: 900px;
	}
.contu .lisr{
	position: absolute;
	top: 1300px;
	left: 0;
height: auto;
background-color: #942625;
z-index: 28;
width: 90%;


}
.contu .lisr h1{
	position: relative;
	top: 0;
	text-transform:uppercase;
	font-weight: bold;
	color: #fff;
	z-index: 36;
	font-size: 3vw;
}
.contu .lisr ul{
	color: #fff;
	}

}


/************ Amont ************/
/************ exploitation ************/

/************ exploitation ************/

/****** contenu ****/


body{
}
/****** thambnail ******/
.thambnail .thambnail-1{
	background-color:rgba(0, 0, 0, 0.5);
	background-image: url("http://localhost/concept/img/slidePs.png") ;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;

    top: 20%;
    left: 2.5%;
	background-size: cover;
	height:45%;
	width:95%;
z-index: -5;
}

.thambnail .thambnail-1 .img{
	position: absolute;
	background-color:rgba(0, 0, 0, 0.5);
padding: 11.6% 50%;
color: #000;
background-position:center;
z-index: 10;
}
.thambnail .thambnail-1 .img h1{
	color: #fff; position: absolute; z-index: 1; right:37%;transform:4s;
 }
 @media (max-width:1050px) {
.thambnail .thambnail-1 .img{
	position: absolute;
	background-color:rgba(0, 0, 0, 0.5);

color: #000;
height: 45vh;
background-position:top;
z-index:1;
}
.thambnail .thambnail-1 .img h1{
	color: #fff; position: absolute; z-index: 10; right:37%;
	font-size: 5vw;
	top: 50%;
	right:20%;
	text-align: center;
 }
 }
/****** thambnail ******/

/****** menu ******/
.menu .nav
{
	background-color: #eaeaea;
	position: absolute;
	top: 65%;
	z-index: 20;
	padding:10px 100px;
}
.menu ul{
	position: absolute;
left: 11%;
color: #c5c5c5;
}
.menu ul li a{
font-weight: bold;	
	color: #c5c5c5;
	margin: 0 5px;
text-transform: uppercase;
}
.menu ul li a:hover{
	color: #942625;
}
 @media (max-width:1050px) {
 	.menu ul{
	position: absolute;
left: 0;
right: 0;
text-align:center;
width: 100%;
color: #c5c5c5;
}
.menu ul li a{
	font-weight: bold;	
	color: #c5c5c5;
	text-align: center;
text-transform: uppercase;
 }
}
/****** menu ******/

/****** represent ******/
.reprsent{
	position: absolute;
	z-index: 30;
	width: 60%;
	top: 90%;
	left: 11%;
transform: 2s;
}
.reprsent h1{
	position: absolute;
	color: #942625;
	font-weight: bold;
	text-transform: uppercase;
z-index: 30;
bottom: 20px;
}
.reprsent p{
	position:absolute;
color: #8c8c8c;
	z-index: 40;
}

 

  @media (max-width:1050px) {
 	.reprsent{
	position: absolute;
	z-index: 25;
	top: 140%;
	left: 11%;

}
/****** represent ******/

    

